.headimg {
    line-height: 66px;
}

.iconPosi {
    position: absolute;
    top: 50%;
    margin-top: -19px;
}

.laytable-cell-1-0-0 {
    height: auto !important;
}

.layui-table-view .layui-table {
    width: 100% !important;
}

.layui-laypage-limits {
    display: none !important;
}

.layui-table-cell {
    height: auto !important;
}

.rightAlign {
    text-align: center;
}

.btnStyle {
    width: auto;
    position: relative;
}

.diyWidth {
    width: auto;
}

.marRight {
    margin-right: 2px;
}

.hover-sty {
    font-size: 35px;
    color: #000000;
    vertical-align: middle;
}

.hover-sty:hover {
    color: #009688;
}

.qrcode {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .imgPosi {
        position: relative;
        width: 100%;
        height: 55px;
        margin-left: -52px;
    }

    .imgBox {
        display: inline-block;
        width: auto;
        /* margin: 0 auto; */
        position: absolute;
        left: 50%;
    }

    .lineWidth {
        width: 100% !important;
    }

    .unmatched {
        width: 100% !important;
    }

    .btnWidth {
        width: 90%;
    }

    .fr {
        float: right;
    }

    .qrcode {
        text-align: right;
        margin-top: 5px;
        width: 100% !important;
    }

}